<% content_for :title do %>My super sweet dashboard<% end %>

<div class="gridster">
  <ul>

    <!-- <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li> -->
      
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="4">
    	<div data-id="SlideShow" data-view="Image" data-width="100%"></div>
	</li>
   
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-view="Clock" data-width="100%"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>
    
	<li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="temperature" data-view="Number" data-title="Temperature" data-moreinfo="C" data-prefix=""></div>
    </li>    
    
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="humidity" data-view="Meter" data-title="Humidity" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li> -->
  </ul>
  <!-- <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>